In [1]:
from sklearn import svm
from sklearn import datasets
from sklearn.model_selection import train_test_split as ts
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler,Normalizer

In [3]:
datadir='./scikit_learn_input/'

In [4]:
train=pd.read_csv(datadir+'train.csv',header=None)
trainlabel=pd.read_csv(datadir+'trainLabels.csv',header=None)
test=pd.read_csv(datadir+'test.csv',header=None)

In [5]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [6]:
#transformer=MinMaxScaler(feature_range=(0,1))
transformer=Normalizer()
transformer.fit(train)

Normalizer(copy=True, norm='l2')

In [7]:
New_train=transformer.transform(train)

In [8]:
New_test=transformer.transform(test)

In [9]:
# KNN with cross-validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.svm import SVC
X = train
#X = New_train
y=trainlabel
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=4)

In [10]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

C:\Users\jeff\Anaconda3\envs\facerec\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [11]:
knn.score(X_train, y_train)

0.9453333333333334

In [12]:
knn.score(X_test, y_test)

0.872

In [13]:
y_pred = knn.predict(New_test)
submission = pd.DataFrame(y_pred)
print(submission.shape)

(9000, 1)

In [14]:
submission.head()

   0
0  1
1  0
2  1
3  1
4  0

In [15]:
submission.columns = ['Solution']

In [16]:
submission['Id'] = np.arange(1,submission.shape[0]+1)
submission = submission[['Id', 'Solution']]
submission.head()

   Id  Solution
0   1         1
1   2         0
2   3         1
3   4         1
4   5         0

In [17]:
submission.to_csv('sub.csv', index=False)

In [18]:
from sklearn import tree
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [19]:
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.784

In [20]:
clf.score(X_test, y_test)

0.784

In [21]:
# kernel = 'rbf'
clf_rbf = svm.SVC(kernel='rbf')
clf_rbf.fit(X_train,y_train)
score_rbf = clf_rbf.score(X_test,y_test)
print("The score of rbf is : %f"%score_rbf)

The score of rbf is : 0.912000

C:\Users\jeff\Anaconda3\envs\facerec\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\jeff\Anaconda3\envs\facerec\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [22]:
y_pred = clf_rbf.predict(test)
submission = pd.DataFrame(y_pred)
print(submission.shape)
submission.columns = ['Solution']
submission['Id'] = np.arange(1,submission.shape[0]+1)
submission = submission[['Id', 'Solution']]
print(submission.head())
submission.to_csv('SVC_sub.csv', index=False)

(9000, 1)
   Id  Solution
0   1         1
1   2         0
2   3         1
3   4         0
4   5         0